body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* font style */
  font-family: Barlow;
  font-weight: 300;
  font-size: 32pt;
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
}

#scene_container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
    (src/World/components/scene.ts)
  */
  background-color: #090A0F;
}

.annotation {
    position: absolute;
    color: #fafafa;
}

.annotation-title {
    margin-left: -11px;
    height: 52px;
}

.annotation-line { background-image: linear-gradient(#fafafa66, #fafafa01); 
    width: 2px;
    left: -2px;
    margin-top: 6px;
}

#hidden {
    display: none;
}

#center_label {
    display: none;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28pt;
    font-family: Barlow;
    font-weight: 400;
    color: #fafafa;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}